
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #fcf1f1; 
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000; 
    color: white;
    text-align: center;
    padding: 40px 20px;
}


h1 {
    color: white;
    margin-bottom: 5px;
}

h2 {
    color: #cc0000; 
    margin-top: 0;
}


.step {
    max-width: 750px;
    margin: 30px auto;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.screenshot {
    display: block;
  
    width: 450px;      
    height: 220px;     
    
 
    object-fit: contain; 
    
    background-color: #fcf6f6; 
    margin: 20px auto;        
    border: 2px solid #e0b0b0; 
    border-radius: 8px;        
}

.final-result {
    text-align: center;
    padding-bottom: 60px;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

 {
    display: block;
    border: none;
    border-radius: 5px;
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #777;
    background-color: #fff;
    margin-top: auto;
}
